//.fc .calitem {
//  font-size: 0.85em;
//}

//.fc-event {
//  line-height: 1.5;
//}

// --------------------------------------------------------------------
// Image Icons and Checkbox
// --------------------------------------------------------------------
.calitem.icon-image {
  &.fc-daygrid-dot-event {
    .fc-daygrid-event-dot {
      display: none;
    }
  }
  &.fc-daygrid-block-event {
  }
  &.fc-daygrid-dot-event, &.fc-daygrid-block-event {
    .ic {
      display: inline-block;
      flex-shrink: 0;
      flex-grow: 0;
      width: 14px;
      background-repeat: no-repeat;
      background-position: center left;
    }
  }
  &.calitem-event {
    .ic {
      background-image: url('/images/doctype/event-12.png');
    }
  }
  &.calitem-goal {
    .ic {
      background-image: url('/images/doctype/tasklist-12.png');
    }
  }
  &.calitem-milestone {
    .ic {
      background-image: url('/images/doctype/meeting-12.png');
    }
  }
}


// --------------------------------------------------------------------
// FontAwesome
// --------------------------------------------------------------------
.calitem.icon-font {
  .c {
    position: relative;
    background-image: none;
    padding-left: 2px;
    padding-right: 2px;
    input {
      display: none;
    }
    &:before {
      @include fontawesome_basic;
      speak: none;
      width: 1.3em;
    }
  }
  &.calitem-task.todo .c:before {
    content: "\f096";
  }
  &.calitem-task.done .c:before {
    content: "\f046";
  }
  &.calitem-goal .c:before {
    content: "\f0ae";
  }
  &.calitem-milestone .c:before {
    content: "\f133";
  }
  &.calitem-event .c:before {
    content: "\f073";
  }
}


// --------------------------------------------------------------------
// Priority label-sticker (List View)
// --------------------------------------------------------------------
.fc-list-event {
  .fc-event-title {
    .label-sticker.priority {
      margin-left: 0.5em;
      &.p1 {
        background-color: $p1color;
      }
      &.p2 {
        background-color: $p2color;
      }
      &.p3 {
        background-color: $p3color;
      }
      &.p4 {
        background-color: $p4color;
      }
    }
  }
}
