// Borrowed from the color for .fc-theme-standard td, .fc-theme-standard th.
$extEvBorder: #ddd;
// Borrowed from the color for .fc-theme-standard .fc-list-day-cushion.
$extEvBackground: rgba(208,208,208,.3);

// --------------------------------------------------------------------
// External Drag and Drop (prototype)
// --------------------------------------------------------------------
.calendar-container {
  display: flex;
  flex-wrap: wrap;
  .fc-dragbase-wrapper {
    position: relative;
    flex: 0 1 25%;
    max-width: 25%;
    .fc-dragbase-canvas {
      margin-right: 1em;
      border: 1px $extEvBorder solid;
      .hd {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px $extEvBorder solid;
        background: $extEvBackground;
        padding: 1em;
        h2 {
          margin-top: 0 !important;
          margin-bottom: 1em;
          padding: 0.25em 0;
        }
        .add {

        }
      }
      .bd {
        padding: 1em;
        .entries {
          &> div.fc-event:not(:last-child) {
            margin-bottom: 0.5em;
          }
          .fc-event {
            cursor: pointer;
            background-color: #fff;
          }
        }
      }
    }
  }
  .fc-canvas-wrapper {
    position: relative;
    flex: 0 1 75%;
    max-width: 75%;
  }
}
