@charset "utf-8";

@import "../../../../../html/sass/globals/_material-design-colors";

@mixin fontawesome_basic {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$types: "task", "event", "goal", "milestone";

@mixin task_todo_icon {
  content: "\f096";
}
@mixin task_done_icon {
  content: "\f046";
}
@mixin event_icon {
  content: "\f073";
}
@mixin goal_icon {
  content: "\f0ae";
}
@mixin milestone_icon {
  content: "\f133";
}
@mixin phonenotes_icon {
  content: "\f095";
}

// Entry background colors
$colorRed: #e53935;
$colorOrange: #fb8c00;
$colorYellow: #fdd835;
$colorGreen: #43a047;
$colorBlue: #1e88e5;
$colorPurple: #8e24aa;
$colorGray: #757575;
$colorDefault: transparent;

// Task priority colors
$p1color: #dea29e;
$p2color: #f0c7a0;
$p3color: #f0f08a;
$p4color: #ddd;

// Background colors of weekends
$bgsun: #fff8f8;
$bgsat: #f8ffff;

@import "external-events";
@import "calitem";

// --------------------------------------------------------------------
// Weekends
// --------------------------------------------------------------------
.fc-day-sat {
  background-color: #f8ffff;
}

.fc-day-sun {
  background-color: #fff8f8;
}

// --------------------------------------------------------------------
// Priority Colors
// --------------------------------------------------------------------
.fc-event {
  border-style: none;
  &.calitem-p1 {
    border-right: 6px $p1color solid !important;
  }
  &.calitem-p2 {
    border-right: 6px $p2color solid !important;
  }
  &.calitem-p3 {
    border-right: 6px $p3color solid !important;
  }
  &.calitem-p4, &.calitem-p5, &.calitem-p6 {
    border-right: 6px $p4color solid !important;
  }

  &.red {
    background-color: $colorRed;
  }
  &.orange {
    background-color: $colorOrange;
  }
  &.yellow {
    background-color: $colorYellow;
  }
  &.green {
    background-color: $colorGreen;
  }
  &.blue {
    background-color: $colorBlue;
  }
  &.purple {
    background-color: $colorPurple;
  }
  &.gray {
    background-color: $colorGray;
  }

  // Default color
  background-color: $colorDefault;
  &.fc-h-event .fc-event-main {
    color: inherit;
  }
}

// --------------------------------------------------------------------
// View
// --------------------------------------------------------------------
.fc .fc-toolbar-chunk h2 {
  display: none;
}


// --------------------------------------------------------------------
// Add Icons
// --------------------------------------------------------------------
.fc-daygrid-day {
  .fc-daygrid-day-top {
    justify-content: space-between;
    .fc-day-add-links {
      padding: 4px;
      a {
        &:first-child {
          margin-left: 2px;
        }
        display: inline-block;
        margin-right: 4px;
        i.icon {
          @include fontawesome_basic;
          display: none;
          width: 1.28571429em;
          &:before {
            speak: none;
          }
        }
        .text {
          display: none;
        }
      }
      a.event i:before {
        @include event_icon;
      }
      a.task i:before {
        @include task_done_icon;
      }
      a.phonenotes i:before {
        @include phonenotes_icon;
      }
    }
  }
  &:hover .fc-day-add-links a i.icon {
    display: inline;
  }
}
