@charset "utf-8";

@import "../../../../../html/sass/globals/_material-design-colors";

@mixin fontawesome_basic {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$types: "task", "event", "goal", "milestone";

@mixin task_todo_icon {
  content: "\f096";
}
@mixin task_done_icon {
  content: "\f046";
}
@mixin event_icon {
  content: "\f073";
}
@mixin goal_icon {
  content: "\f0ae";
}
@mixin milestone_icon {
  content: "\f133";
}
@mixin phonenotes_icon {
  content: "\f095";
}

// Task priority colors
$p1color: #dea29e;
$p2color: #f0c7a0;
$p3color: #f0f08a;
$p4color: #ddd;

// Background colors of weekends
$bgsun: #fff8f8;
$bgsat: #f8ffff;

// --------------------------------------------------------------------
// Priority Colors
// --------------------------------------------------------------------
.fc-event {
  border-style: none;
  &.calitem-p1 {
    border-right: 6px $p1color solid !important;
  }
  &.calitem-p2 {
    border-right: 6px $p2color solid !important;
  }
  &.calitem-p3 {
    border-right: 6px $p3color solid !important;
  }
  &.calitem-p4, &.calitem-p5, &.calitem-p6 {
    border-right: 6px $p4color solid !important;
  }
}

// --------------------------------------------------------------------
// Add Icons
// --------------------------------------------------------------------
.fc-daygrid-day {
  .fc-daygrid-day-top {
    justify-content: space-between;
    .fc-day-add-links {
      padding: 4px;
      a {
        &:first-child {
          margin-left: 2px;
        }
        display: inline-block;
        margin-right: 4px;
        i.icon {
          @include fontawesome_basic;
          display: none;
          width: 1.28571429em;
          &:before {
            speak: none;
          }
        }
        .text {
          display: none;
        }
      }
      a.event i:before {
        @include event_icon;
      }
      a.task i:before {
        @include task_done_icon;
      }
      a.phonenotes i:before {
        @include phonenotes_icon;
      }
    }
  }
  &:hover .fc-day-add-links a i.icon {
    display: inline;
  }
}

// --------------------------------------------------------------------
// External Drag and Drop (prototype)
// --------------------------------------------------------------------
.calendar-container {
  display: flex;
  flex-wrap: wrap;
  .fc-dragbase-wrapper {
    position: relative;
    flex: 0 1 25%;
    max-width: 25%;
    .fc-dragbase-canvas {
      margin-right: 1em;
      padding: 1em;
      background: #f0f0f0 url(/images/proteus/bg/ticks/ticks.png) top left repeat;
      .hd {
        display: flex;
        justify-content: space-between;
        h2 {
          margin-top: 0 !important;
          margin-bottom: 1em;
          padding: 0.25em 0;
        }
        .add {

        }
      }
      .bd {
        .entries {
          margin-top: 1em;
          &> div.fc-event:not(:last-child) {
            margin-bottom: 0.5em;
          }
        }
      }
    }
  }
  .fc-canvas-wrapper {
    position: relative;
    flex: 0 1 75%;
    max-width: 75%;
  }
}
